* {
    box-sizing: border-box;
}

div.wrapper, footer, header{
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

body{
    font-family: 'Oswald', sans-serif;
}

footer {
    width: 33%;
    float: left;
}
